<div class="pl-3 pr-3 mb-1">
    <div class="btn-group ">
        <span go-to-new-employee></span>
        <button ng-click="toggleArchivedEmployee()" class="btn btn-square {{btnClass}}">{{showHideArchivedEmployees}} Çalışanları Göster</button>
        <button ng-click="exportData()" class="btn btn-square" style="color:#333; border:1px solid #cecece; width:70px!important;">EXCEL</button>
    </div>
        <input ng-model="search" type="search" class="form-control emp-search-input" placeholder="Bir isim yazınız" />
</div>
<div class="pl-3 pr-3" style="max-height:400px; overflow:auto;">
    <table id="employeesList" class="table" style="width:100%;">
        <thead>
            <tr>
                <th>TC Kimlik</th>
                <th>Çalışan</th>
                <th>İşe Başlama Tarihi</th>
                <th>Doğum Tarihi</th>
                <th>Cinsiyet</th>
                <th>Telefon</th>
                <th>E-mail</th>
                <th>Yaş</th>

            </tr>
        </thead>
        <tbody ng-repeat="employee in employees  | filter : {name : search}">

            <tr>
                <td id="uniqueName{{employee.id}}">{{employee.uniqueName}}</td>
                <td id="name{{employee.id}}">
                    <a href="#!/employee/{{employee._id}}" class="text-danger">
                        <i ng-if="employee.gender == 'E'" class="fas fa-male"></i>
                        <i ng-if="employee.gender == 'K'" class="fas fa-female"></i>
                        {{employee.name}} {{employee.surname}}
                    </a>
                </td>
                <td id="jobStartDate{{employee.id}}">{{employee.jobStartDate}}</td>
                <td id="dateOfBirth{{employee.id}}">{{employee.dateOfBirth}}</td>
                <td id="gender{{employee.id}}">{{employee.gender}}</td>
                <td id="phone{{employee.id}}">{{employee.phone}}</td>
                <td id="email{{employee.id}}">{{employee.email}}</td>
                <td id="age{{employee.id}}">{{employee.age}}</td>

            </tr>            


        </tbody>


    </table>

</div>