<div ng-if="justSaved" call-to-action redirect-to-state="employee.newBonus" label="{{'FORMS.BONUS.BONUS' | translate}}"></div>
<form name="newBonus">
    <h3 class="pt-2 pl-3" translate="FORMS.HEADER.GENERAL">Genel Bilgiler</h3>
    <hr class="m-3" />
    <div html-form-element="textReadOnly" ng-if="!isNew" being-edited="beingEdited" ng-model="bonus.uniqueName" label="{{'FORMS.UNIQUENAME' | translate}}"></div>
    <div html-form-element="employeeReadOnly" being-edited="beingEdited" ng-model="bonus.employeeRef" label="{{'FORMS.EMPLOYEE.EMPLOYEE' | translate}}"></div>
    <div html-form-element="text" being-edited="beingEdited" ng-model="bonus.description" ng-required="true" label="{{'FORMS.DESCRIPTION' | translate}}"></div>
    <div html-form-element="number" being-edited="beingEdited" ng-model="bonus.payment" ng-required="true" min="0" label="{{'FORMS.BONUS.BONUS_TL' | translate}}" quantity="TL"></div>
    <div html-form-element="date" being-edited="beingEdited" ng-model="bonus.paymentDate" label="{{'FORMS.BONUS.PAYMENT_DATE' | translate}}"></div>

    <div class="sticky-button">
        <div new-edit-delete-buttons entity="bonus" being-edited="beingEdited" is-new="isNew" disable-opts="newBonus"></div>
    </div>
</form>