<div ng-if="justSaved" call-to-action entity="Firma"></div>
<form name="newCompany" ng-if="!company.archived">
    <h3 class="pt-0 pl-3">Firma/Tesis Bilgileri</h3>
    <hr class="m-3" />
    <div class="form-group row">
        <label class="col-sm-3 control-label">Ad</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <input class="{{company.name ? '' : 'red-border'}} form-control" type="text" name="name" ng-model="company.name" ng-required="true"/>
        </div>
        <span ng-show="!beingEdited">{{company.name}}</span>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label">Sicil No</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <input type="text" class="{{company.uniqueName ? '' : 'red-border'}} form-control" name="uniqueName" ng-model="company.uniqueName" ng-required="true"/>
        </div>
        <span ng-show="!beingEdited">{{company.uniqueName}}</span>
    </div>
    <h3 class="pt-4 pl-3">İletişim Bilgileri</h3>
    <hr class="m-3" />
    <div class="form-group row">
        <label class="col-sm-3 control-label">Telefon</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <input type="tel" placeholder="___-_______" class="form-control" name="phone" ng-model="company.phone" />
        </div>
        <span ng-show="!beingEdited">{{company.phone}}</span>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label">Adres</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <input type="textarea" class="form-control" name="email" ng-model="company.address" />
        </div>
        <span ng-show="!beingEdited">{{company.address}}</span>
    </div>

    <div class="sticky-button">
        <div new-edit-delete-buttons entity="company" being-edited="beingEdited" is-new="isNew" disable-opts="newCompany"></div>
        <!--
        <button class="btn btn-success btn-square" ng-show="beingEdited" ng-disabled="newCompany.$invalid" ng-click="saveCompany(company)">Kaydet</button>
        <button ng-click="edit()" ng-show="!beingEdited" class="btn btn-success btn-square">Düzenle</button>
        <button ng-click="deleteCompany()" ng-show="!beingEdited" class="btn btn-danger btn-square">Sil</button>
        <button ng-click="cancel()" ng-show="beingEdited" class="btn btn-danger btn-square">Vazgeç</button>
        -->
    </div>
</form>
<div ng-if="company.archived">
    <div class="alert alert-warning">
        <strong>Arşivlenmiş Firma Uyarısı!</strong> Bu firma arşivlenmiştir. Aktif etmek için lütfen butona tıklayınız.
    </div>
    <div class="row m-2 p-3 border" style="background-color:#eee;">
        <button class="btn btn-success btn-square" ng-click="activateCompany()">Aktif Et</button>
        <button class="btn btn-danger btn-square" ng-click="removeCompany()">Kalıcı Olarak Sil</button>
    </div>
</div>