<div ng-if="justSaved" call-to-action entity="Çalışan"></div>
<div employee-card employee="employee" being-edited="beingEdited"></div>
<form name="newEmployee" ng-if="!employee.archived">
    <h3 class="pt-0 pl-3">Özlük Bilgileri</h3>
    <hr class="m-3" />
    <div html-form-element="text" being-edited="beingEdited" ng-model="employee.name" ng-required="true" label="Ad"></div>
    <div html-form-element="text" being-edited="beingEdited" ng-model="employee.surname" ng-required="true" label="Soyad"></div>
    <div html-form-element="text" being-edited="beingEdited" ng-model="employee.uniqueName" ng-required="true" label="TC Kimlik No" ng-minlength="11" ng-maxlength="11"></div>
    <div html-form-element="text" being-edited="beingEdited" ng-model="employee.internalUniqueName" label="Sicil No"></div>
    <div class="form-group row">
        <label class="col-sm-3 control-label">Firma</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <select class="{{employeeCompanyRef ? '' : 'red-border'}} form-control" name="company" ng-required="true" ng-model="employeeCompanyRef" ng-change="createCompanyRef(employeeCompanyRef)" ng-options="company._id as company.name for company in companies">
                <option value=""></option>
            </select>
        </div>
        <span ng-show="!beingEdited">
            <a href="#!/company/{{employee.companyRef._id}}" class="text-success">
                <i class="fas fa-industry"></i>
                {{employee.companyRef.name}}
            </a>
        </span>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label">Cinsiyet</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <select style="font-size:14px" class="{{employee.gender ? '' : 'red-border'}} form-control" name="gender" ng-model="employee.gender" ng-required="true">
                <option value="K">Kadın</option>
                <option value="E">Erkek</option>
                <option value="U">Belirtilmemiş</option>
            </select>
        </div>
        <span ng-show="!beingEdited">{{employee.gender | gender}}</span>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label">Doğum Tarihi</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <input type="date" class="form-control" name="dateOfBirth" ng-model="employee.dateOfBirth"/>
        </div>
        <span ng-if="!beingEdited">{{employee.dateOfBirth | formatDateToDDMMYYYY}}</span>
    </div>
    <div class="form-group row" ng-show="!beingEdited">
        <label class="col-sm-3 control-label">Yaş</label>
        <span>{{employee.dateOfBirth | age}}</span>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label">İşe Başlama Tarihi</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <input type="date" class="form-control" name="jobStartDate" ng-model="employee.jobStartDate"/>
        </div>
        <span ng-if="!beingEdited">{{employee.jobStartDate | formatDateToDDMMYYYY}}</span>
    </div>
    <h3 class="pt-4 pl-3">İletişim Bilgileri</h3>
    <hr class="m-3" />
    <div html-form-element="phone" being-edited="beingEdited" ng-model="employee.phone" label="Telefon" placeholder="___-_______"></div>
    <div html-form-element="email" being-edited="beingEdited" ng-model="employee.email" label="E-mail"></div>
    <div class="sticky-button">
        <div new-edit-delete-buttons entity="employee" being-edited="beingEdited" is-new="isNew" disable-opts="newEmployee"></div>
    </div>
</form>
<div ng-if="employee.archived">
    <div class="alert alert-warning">
        <strong>Arşivlenmiş Çalışan Uyarısı!</strong> Bu çalışan arşivlenmiştir. Aktif etmek için lütfen butona tıklayınız.
    </div>
    <div class="row m-2 p-3 border" style="background-color:#eee;">
        <button class="btn btn-success btn-square" ng-click="activateEmployee()">Aktif Et</button>
        <button class="btn btn-danger btn-square" ng-click="removeEmployee()">Kalıcı Olarak Sil</button>
    </div>
</div>