<h3 class="pt-0 pl-3">Özlük Bilgileri</h3>
<hr class="m-3" />
<form name="newEmployee">
    <div class="form-group row">
        <label class="col-sm-3 control-label">Ad</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <input class="{{employee.name ? '' : 'red-border'}} form-control" type="text" name="name" ng-model="employee.name" ng-required="true"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label">Soyad</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <input type="text" class="{{employee.surname ? '' : 'red-border'}} form-control" name="surname" ng-model="employee.surname" ng-required="true"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label">TC Kimlik No</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <input type="text" minlength="11" maxlength="11" class="{{employee.uniqueName ? '' : 'red-border'}} form-control" name="uniqueName" ng-model="employee.uniqueName" ng-required="true"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label">Cinsiyet</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <select style="font-size:14px" class="{{employee.gender ? '' : 'red-border'}} form-control" name="gender" ng-model="employee.gender" ng-required="true">
                <option value="K">Kadın</option>
                <option value="E">Erkek</option>
            </select>
        </div>
    </div>
    <h3 class="pt-4 pl-3">İletişim Bilgileri</h3>
    <hr class="m-3" />

    <div class="form-group row">
        <label class="col-sm-3 control-label">Telefon</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <input type="tel" placeholder="___-_______" class="form-control" name="phone" ng-model="employee.phone" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label">E-mail</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <input type="email" class="form-control" name="email" ng-model="employee.email" />
        </div>
    </div>

    <div class="sticky-button">
        <button class="btn btn-success btn-square" ng-disabled="newEmployee.$invalid" ng-click="saveEmployee(employee)">Kaydet</button>
        <button ng-click="goBack()" class="btn btn-danger btn-square">Vazgeç</button>
    </div>
</form>