<div ng-if="justSaved" call-to-action entity="entity" label="Hatırlatıcı"></div>
<form name="newReminder">
    <h3 class="pt-0 pl-3">Genel Bilgileri</h3>
    <hr class="m-3" />
    <div html-form-element="text" being-edited="beingEdited" ng-model="reminder.name" ng-required="true" label="Hatırlatıcı Adı"></div>
    <div html-form-element="textarea" being-edited="beingEdited" ng-model="reminder.description" label="Açıklama"></div>
    <div company-select being-edited="beingEdited" is-new="isNew" entity="entity" ng-model="reminderCompanyRef"></div>
    <div html-form-element="date" being-edited="beingEdited" ng-model="reminder.reminderDate" label="Hatırlatma Tarihi"></div>
    <div class="sticky-button">
        <div new-edit-delete-buttons entity="reminder" being-edited="beingEdited" is-new="isNew" disable-opts="newReminder"></div>
    </div>
</form>