<div ng-if="justSaved" call-to-action entity="Hatırlatıcı"></div>
<form name="newReminder">
    <h3 class="pt-0 pl-3">Genel Bilgileri</h3>
    <hr class="m-3" />
    <div class="form-group row">
        <label class="col-sm-3 control-label">Hatırlatıcı Adı</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <input class="{{reminder.name ? '' : 'red-border'}} form-control" type="text" name="name" ng-model="reminder.name" ng-required="true"/>
        </div>
        <span ng-show="!beingEdited">{{reminder.name}}</span>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label">Açıklama</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <input type="text" class="form-control" name="description" ng-model="reminder.description"/>
        </div>
        <span ng-show="!beingEdited">{{reminder.description}}</span>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label">İlişkili Tesis</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <select class="{{reminderCompanyRef ? '' : 'red-border'}} form-control" name="company" ng-required="true" ng-model="reminderCompanyRef" ng-change="createCompanyRef(reminderCompanyRef)" ng-options="company._id as company.name for company in companies">
                <option value=""></option>
            </select>
        </div>
        <span ng-show="!beingEdited">
            <a href="#!/company/{{reminder.companyRef._id}}" class="text-success">
                <i class="fas fa-industry"></i>
                {{reminder.companyRef.name}}
            </a>
        </span>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label">Hatırlatma Tarihi</label>
        <div class="col-sm-9" ng-show="beingEdited">
            <input type="date" class="form-control" name="reminderDate" ng-model="reminder.reminderDate"/>
        </div>
        <span ng-if="!beingEdited">{{reminder.reminderDate | formatDateToDDMMYYYY}}</span>
    </div>
    <div class="sticky-button">
        <div new-edit-delete-buttons entity="reminder" being-edited="beingEdited" is-new="isNew" disable-opts="newReminder"></div>
    </div>
</form>