<div class="form-group row">
    <label class="col-sm-3 control-label" ng-show="label" ng-class="{'has-error': (ngRequired && (ngModel==null || ngModel==undefined || ngModel==''))}">{{label}}</label>
    <div ng-if="beingEdited" ng-switch="" on="htmlFormElement" class="col-sm-9" ng-class="{'has-error': (ngRequired && (ngModel==null || ngModel==undefined || ngModel==''))}">
        <div ng-switch-when="text">
            <input class="form-control" type="text" name="{{name}}" ng-model="$parent.$parent.ngModel" ng-required="$parent.$parent.ngRequired" placeholder="{{placeholder}}" ng-change="ngChange()" minlength="{{$parent.$parent.ngMinlength}}" maxlength="{{$parent.$parent.ngMaxlength}}"/>
        </div>
        <div ng-switch-when="textarea">
            <textarea class="form-control" name="{{name}}" ng-model="$parent.$parent.ngModel" ng-required="$parent.$parent.ngRequired" placeholder="{{placeholder}}" maxlength="{{$parent.$parent.ngMaxlength}}"></textarea>
        </div>
        <div ng-switch-when="phone">
            <input type="tel" class="form-control" name="{{name}}" ng-model="$parent.$parent.ngModel" ng-required="$parent.$parent.ngRequired" placeholder="{{placeholder}}" maxlength="{{$parent.$parent.ngMaxlength}}"/>
        </div>
        <div ng-switch-when="email">
            <input type="email" class="form-control" name="{{name}}" ng-model="$parent.$parent.ngModel" ng-required="$parent.$parent.ngRequired" placeholder="{{placeholder}}"/>
        </div>
    </div>
    <span ng-if="!beingEdited" ng-switch="" on="htmlFormElement" class="col-sm-9">
        <div ng-switch-when="text">
            <span>{{$parent.$parent.ngModel}}</span>
        </div>
        <div ng-switch-when="textarea">
            <span>{{$parent.$parent.ngModel}}</span>
        </div>
        <div ng-switch-when="phone">
            <span>{{$parent.$parent.ngModel}}</span>
        </div>
        <div ng-switch-when="email">
            <span>{{$parent.$parent.ngModel}}</span>
        </div>
    </span>
</div>