<button ng-if="entity=='employee'" ng-click="goToNewEmployeePage()" class="btn btn-success btn-square" translate="ACTIONS.NEW.EMPLOYEE">Yeni Çalışan</button>
<button ng-if="entity=='company'" ng-click="goToNewCompanyPage()" class="btn btn-success btn-square" translate="ACTIONS.NEW.COMPANY">Yeni Firma</button>
<button ng-if="entity=='reminder'" ng-click="goToNewReminderPage()" class="btn btn-success btn-square" translate="ACTIONS.NEW.REMINDER">Yeni Hatırlatıcı</button>
<button ng-if="entity=='bonus'" ng-click="goToNewBonusPage()" class="btn btn-success btn-square" translate="ACTIONS.NEW.BONUS">Yeni Prim</button>
<button ng-if="entity=='annualLeave'" ng-click="goToNewAnnualLeavePage()" class="btn btn-success btn-square" translate="ACTIONS.NEW.ANNUAL_LEAVE">Yeni Yıllık İzin</button>