<div class="pl-3 pr-3 mb-1">
    <div class="btn-group ">
        <span new-company-button></span>
        <button ng-click="toggleArchivedCompany()" class="btn btn-square {{btnClass}}">{{showHideArchivedCompanies}} Firmalar Göster</button>
        <button ng-click="exportData()" class="btn btn-square" style="color:#333; border:1px solid #cecece; width:70px!important;">EXCEL</button>
    </div>
    <input ng-model="search" type="search" class="form-control emp-search-input" placeholder="Bir isim yazınız" />
</div>
<div class="pl-3 pr-3" style="max-height:400px; overflow:auto;">
    <table id="companiesList" class="table list-table" style="width:100%;">
        <thead>
        <tr>
            <th>Firma Adı</th>
            <th>SGK Sicil No</th>
            <th>Telefon</th>
            <th>Adres</th>
        </tr>
        </thead>
        <tbody ng-repeat="company in companies  | filter : {name : search}">
        <tr>
            <td>
                <a href="#!/company/{{company._id}}" class="text-danger">
                    <i class="fas fa-industry"></i>
                    {{company.name}}
                </a>
            </td>
            <td>{{company.uniqueName}}</td>
            <td>{{company.phone}}</td>
            <td>{{company.address}}</td>
        </tr>
        </tbody>
    </table>
</div>