<div class="pl-3 pr-3 mb-1">
    <div class="btn-group ">
        <span new-entity-button entity="employee"></span>
        <button ng-hide="hideArchivedDataButton" ng-click="toggleArchivedEmployee()" class="btn btn-square {{btnClass}}">{{showHideArchivedEmployees}} Çalışanları Göster</button>
        <button ng-click="exportData()" class="btn btn-square" style="color:#333; border:1px solid #cecece; width:70px!important;">EXCEL</button>
    </div>
    <input ng-model="search" type="search" class="form-control emp-search-input" placeholder="{{'PLACEHOLDER.ENTER_NAME' | translate}}" />
</div>
<div class="pl-3 pr-3" style="max-height:400px; overflow:auto;">
    <table id="employeesList" class="table list-table" style="width:100%;">
        <thead>
            <tr>
                <th translate="FORMS.EMPLOYEE.UNIQUE_NAME">TC Kimlik</th>
                <th translate="FORMS.EMPLOYEE.EMPLOYEE">Çalışan</th>
                <th translate="FORMS.COMPANY.COMPANY">Firma</th>
                <th translate="FORMS.EMPLOYEE.JOB_STARTDATE">İşe Başlama Tarihi</th>
                <th translate="FORMS.EMPLOYEE.DATEOFBIRTH">Doğum Tarihi</th>
                <th translate="FORMS.EMPLOYEE.GENDER">Cinsiyet</th>
                <th translate="FORMS.EMPLOYEE.PHONE">Telefon</th>
                <th translate="FORMS.EMPLOYEE.EMAIL">E-mail</th>
                <th translate="FORMS.EMPLOYEE.AGE">Yaş</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="employee in employees  | filter : {name : search} | orderBy : 'name'">
            <tr>
                <td>{{employee.uniqueName}}</td>
                <td>
                    <a href="#!/employee/{{employee._id}}" class="text-danger">
                        <i ng-if="employee.gender == 'E'" class="fas fa-male"></i>
                        <i ng-if="employee.gender == 'K'" class="fas fa-female"></i>
                        {{employee.fullName}}
                    </a>
                </td>
                <td>
                    <a href="#!/company/{{employee.companyRef._id}}" class="text-success">
                        <i class="fas fa-industry"></i>
                        {{employee.companyRef.name}}
                    </a>
                </td>
                <td>{{employee.jobStartDate | formatDateToDDMMYYYY}}</td>
                <td>{{employee.dateOfBirth | formatDateToDDMMYYYY}}</td>
                <td>{{employee.gender | gender}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.dateOfBirth | age}}</td>
                <td>
                    <div new-edit-delete-buttons entity="employee" being-edited="beingEdited" is-new="isNew" show-list-buttons="true"></div>
                </td>
            </tr>
        </tbody>
        <tr ng-if="employees.length == 0"><td colspan="10" style="text-align:center;padding:10px; font-size:14px;" translate="FORMS.EMPLOYEE.EMPLOYEE_NOT_FOUND">Çalışan Bulunamadı</td></tr>
    </table>
</div>