<div class="pl-3 pr-3 mb-1">
    <div class="btn-group ">
        <span new-entity-button entity="reminder"></span>
        <button ng-click="exportData()" class="btn btn-square" style="color:#333; border:1px solid #cecece; width:70px!important;">EXCEL</button>
    </div>
    <input ng-model="search" type="search" class="form-control emp-search-input" placeholder="{{'PLACEHOLDER.ENTER_NAME' | translate}}" />
</div>
<div class="pl-3 pr-3" style="max-height:400px; overflow:auto;">
    <table id="reminderList" class="table list-table" style="width:100%;">
        <thead>
            <tr>
                <th translate="FORMS.NAME">Hatırlatıcı Adı</th>
                <th translate="FORMS.DESCRIPTION">Açıklama</th>
                <th translate="FORMS.RELATED.COMPANY">İlişkili Tesis</th>
                <th translate="FORMS.REMINDER.REMINDER_DATE">Hatırlatma Tarihi</th>
                <th translate="FORMS.CREATION_DATE">Oluşturulma Tarihi</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="reminder in reminders  | filter : {name : search} | orderBy : 'name'">
            <tr>
                <td>
                    <a href="#!/reminder/{{reminder._id}}" class="text-danger">
                        <i class="fas fa-bell"></i>
                        {{reminder.name}}
                    </a>
                </td>
                <td>{{reminder.description}}</td>
                <td>
                    <a href="#!/company/{{reminder.companyRef._id}}" class="text-success">
                        <i class="fas fa-industry"></i>
                        {{reminder.companyRef.name}}
                    </a>
                </td>
                <td>{{reminder.reminderDate | formatDateToDDMMYYYY}}</td>
                <td>{{reminder.createdAt | formatDateToDDMMYYYY}}</td>
                <td>
                    <div new-edit-delete-buttons entity="reminder" being-edited="beingEdited" is-new="isNew" show-list-buttons="true"></div>
                </td>
            </tr>
        </tbody>
        <tr ng-if="reminders.length == 0"><td colspan="10" style="text-align:center;padding:10px; font-size:14px;" translate="FORMS.REMINDER.REMINDER_NOT_FOUND">Hatırlatıcı Bulunamadı</td></tr>
    </table>
</div>