<ul>

    <li><a href="#!/"><i class="fas fa-home"></i>Anasayfa</a></li>
    <li><a href="#!/employees"><i class="fas fa-user"></i>Aktif Çalışanlar</a></li>
    <li><a href="#!/archived-employees"><i class="fas fa-user-alt-slash"></i>Arşivli Çalışanlar</a></li>
    <li><a href="#!/employee/new"><i class="fas fa-user-plus"></i>Yeni Çalışan</a></li>
    <li><a href="#!/employees-list"><i class="fas fa-scroll"></i>İzin Tablosu</a></li>
    <li><a href="#!/birthday"><i class="fas fa-birthday-cake"></i>Doğum Günleri</a></li>
    <li><a href="#!/test">TEST</a></li>

</ul>